@import "../../app.scss";
.topbar {
  color: white;
  font-size: 14px;
  position: fixed;
  z-index: 1000;
  //color transparent from top - start at 50% topbar width
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.6) 50%);
  top: 0;
  width: 100%;

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    @include mobile {
      padding: 0px;
    }
    @include tablet {
      padding: 0px;
    }
    .left {
      display: flex;
      align-items: center;

      img {
        height: 25px;
        margin-right: 40px;
        @include mobile {
          display: none;
          margin-right: 5%;
        }
      }
      span {
        margin: 0px 20px;
        cursor: pointer;
      }
    }
    .right {
      display: flex;
      align-items: center;
      .topbar-icon {
        margin: 0px 15px;
        cursor: pointer;
        @include mobile {
          margin: 0px 10px 0px 0px;
        }
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }
      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
          height: 70px;
          width: 70px;
          padding: 10px;
        }
        span {
          cursor: pointer;
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            align-items: center;
            justify-content: space-around;
            @include mobile {
              left: 74%;
              top: 80%;
            }
          }
        }
      }
    }
  }
}
