@import "../../app.scss";
.profilePage {
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(https://images4.alphacoders.com/117/1176244.png);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  .profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    .containerTitle {
      color: white;
    }
    .line {
      width: 45%;
      margin: 15px;
      height: 1px;
      background-color: #c1c3c5;
    }
    .center {
      display: flex;
      width: 40%;
      justify-content: space-between;
      @include mobile {
        width: 84%;
      }
      .centerRight {
        form {
          color: white;
          label {
            display: block;
          }
          .field {
            margin: 20px;
            input {
              font-size: 15px;
              height: 20px;
              width: 250px;
              padding: 10px;
              background-color: #c1c3c5;
              border-radius: 5px;
              @include mobile {
                width: 156px;
              }
            }
          }
        }
      }
      .centerLeft {
        .avatar {
          height: 150px;
          width: 150px;
          margin-top: 30px;
          overflow: hidden;
          position: relative;

          border: 1px solid #ddd;

          cursor: pointer;
          @include mobile {
            height: 120px;
            width: 120px;
          }
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
          label {
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            cursor: pointer;
            height: 50%;
            background: linear-gradient(
              to bottom,
              transparent 0%,
              rgb(0, 0, 0, 0.8) 30%
            );

            transition: 0.3s ease-in-out;
            .uploadIcon {
              width: 100%;
              margin-top: 17%;
              color: white;
            }
            .input {
              width: 100%;
            }
          }
          &:hover {
            label {
              bottom: -15%;
            }
          }
        }
      }
    }
    .bottom {
      button {
        border: none;
        width: 100px;
        height: 50px;
        padding: 10px;
        background-color: white;
        font-weight: 500;
        font-size: 20px;
        margin-top: 5px;
        cursor: pointer;
      }
    }
    .warning {
      color: red;
      text-align: center;
      margin-top: 10px;
      @include mobile {
        padding: 0px;
        margin-top: 15px;
      }
    }
  }
}
